<%= render "common/header" %>
<div class=body>
	<div  class="container">
		<div class= "row">
			<div  class= "col-lg-10 col-offset-1 col-md-10 col-md-offset-1 col-xs-12">
				<table class= "table table-hover">
					<thead>
						<tr>
							<th class= "col-lg-1 col-md-1 col-xs-1">ID</th>
							<th class= "col-lg-5 col-md-5 col-xs-5">ユーザーネーム</th>
							<th class= "col-lg-3 col-md-3 col-xs-3">編集</th>
							<th class= "col-lg-3 col-md-3 col-xs-3">削除</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |f| %>
						<tr>
							<td class= "col-lg-1 col-md-1 col-xs-1"><%= f.id %></td>
							<td class= "col-lg-5 col-md-5 col-xs-5"><%= link_to f.username, user_path(f.id) %></td>
							<td class= "col-lg-3 col-md-3 col-xs-3"><%= link_to "編集",  edit_user_path(f.id), class: "btn btn-primary" %></td>
							<% if current_user.admin?  %>
							<td class= "col-lg-3 col-md-3 col-xs-3"><%= link_to "アカウント削除", f, data: { confirm: "退会させますか?" }, method: :delete , class: "btn btn-danger"%></td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</div>
<%= render "common/footer"  %>