<%= render "common/header" %>
<div class= "body">
	<%= render "common/alert" %>
	<div class= "show_head">
 			<h3><%= @user.username %>さんの投稿作品一覧</h3>
 		</div>
	<div class= "container-fluid">
 		<% if @novels.blank? %>
 		<div class= "box_head">
 			<h2>投稿作品はありません</h2>
 		</div>
 		<%= render partial: "users/mypage_link", locals: {user: @user} %>
 		<%  else %>
		<div class= "row">
			<div class= "col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" >
				<div class= "show_novels_box">
				<% @novels.each do |f| %>
					<%= render partial: "novels/novel" ,locals: {f: f} %>
				<% end %>
				</div>
				<%= paginate @novels %>
				<%= render partial: "users/mypage_link", locals: {user: @user} %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= render "common/footer" %>