 <%= render "common/header" %>
 <div class= "body">
 	<%= render "common/alert" %>
 	<div class= "show_head" >
 		<h3><%= @user.username %>さんのマイページ</h3>
 		<% if user_signed_in? %>
	 		<% if current_user == @user or current_user.admin? %>
	 		<%= link_to "編集", edit_user_path(@user.id), class: "btn btn-info" %>
	 		<% end %>
	 		<div id= "follow_btn">
	 			<%= render partial: 'relationships/follow', locals: {user: @user} , lacal: true %>
	 		</div>
	 	<% end %>
 	</div>
 	<div class= "container-fluid">
 		<div class= "row">
	 		<div class= "col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" >
	 			<div class= "show_novels_box">
	 				<div class= "box_head">
	 				<h4>投稿作品</h4>
	 				</div>
	 				<% if @novels.blank? %>
	 				<div class= "box_head">
	 					<h2>投稿作品はありません</h2>
	 				</div>
	 				<% else %>
		 				<% @novels.last(3).each do |f| %>
		 					<%= render partial: "novels/novel" ,locals: {f: f} %>
						<% end %>
					<div class= "box_head">
					<%= link_to "投稿作品一覧", novels_user_path(@user.id),  class: "btn btn-primary" %>
					</div>
					<%  end %>
				</div>
				<div class= "show_novels_box">
					<div class= "box_head">
						<h4>投稿小説</h4>
					</div>
					<% if @novel_contents.blank? %>
					<div class= "box_head">
						<h2>投稿小説はありません</h2>
					</div>
					<%  else %>
					<% @novel_contents.last(3).each do |f| %>
						<%= render partial: "novels/content" ,locals: {f: f} %>
					<% end %>
						<div class= "box_head">
						<%= link_to "投稿小説一覧", novel_contents_user_path(@user.id), class: "btn btn-primary" %>
						</div>
					<% end  %>
				</div>
				<div class= "user_about">
					<table >
						<tr>
							<th>ID</th>
							<td><%= @user.id %></td>
						</tr>
						<tr>
							<th>ユーザーネーム</th>
							<td><%= @user.username %></td>
						</tr>
						<tr>
							<th>自己紹介</th>
							<td><%= @user.user_about %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "common/footer" %>