<div class= "novel-box-show">
	<h4><%= "#{i}位 " %></h4>
	<h3><%= link_to f.novel_content_title, novel_novel_content_path(f.novel_id , f.id) %></h3>
	作品名：<%= link_to f.novel.novel_title, novel_path(f.novel_id) %><br>
	投稿者：<%= link_to f.user.username , user_path(f.user.id)%><br>
	ホストユーザー：<%= link_to f.novel.user.username, user_path(f.novel.user.id) %><br>
	投稿日:<%= f.created_at.strftime('%Y/%m/%d/%H:%M') %>
	最終更新日:<%= f.updated_at.strftime('%Y/%m/%d/%H:%M') %>
	<br>
	<i class="far fa-comment-dots"></i><%= f.comments.count %>
	<i class="fas fa-heart" , style="color: red;"></i><%= f.likes.count %>
	<i class="fas fa-eye"></i><%= f.impressions_count %>
</div>