<%= render "common/header" %>
<div class= "body">
	<%= render "common/alert" %>
	<div class= "container-fruid">
		<div class= "row">
			<div class= "col-lg-6 col-lg-offset-3 col-md-6 col-md-3 col-xs-10 col-xs-offset-" >
				<%if @novels %>
					<% @novels.each do |f| %>
						<div class= "novel-box">
							<h3><%= link_to f.novel_title, novel_path(f.id) %></h3>
							<button class= "genre"><%= link_to f.genre.genre_name ,novels_path(genre_id: f.genre.id) %></button><br>
							<% f.tag_list.each do |tag|  %>
								<button class="tag">
									<%= link_to tag, novels_path(tag_name: tag) %>
								</button>
							<% end %>
							<div class ="open">
								<div class= "novel-about">
								<%= simple_format(f.novel_about) %>
								</div>
							</div>
							作成者：<%= link_to f.user.username, user_path(f.user.id) %><br>
							作成日：<%= f.created_at.strftime('%Y/%m/%d') %>
							<% if f.novel_content.exists? %>
							最終更新日：<%= f.novel_content.last.updated_at.strftime('%Y/%m/%d') %>
							<% else %>
							最終更新日：<%= f.updated_at.strftime('%Y/%m/%d') %>
							<%  end %>
							<div class= "open">
								参加ユーザー:<% f.novel_content.map(&:user).uniq.each do |u| %>
							                  <%= link_to u.username, user_path(u) %>
							                  <% end  %>
							</div>
							<i class="far fa-eye"></i><%= f.impressions_count %><br>
							<i class="fas fa-heart" , style="color: red;"></i><%= all_likes_count(f) %>
							<i class="far fa-comment-dots"></i><%= all_comments_count(f) %>
							<i class="fas fa-eye"></i><%= all_views_count(f) %>
						</div>
					<% end %>
					<%= paginate @novels %>
				<% else %>

					<% @search_novels.each do |f| %>
						<div class= "novel-box">
							<h3><%= link_to f.novel_title, novel_path(f.id) %></h3>
							<button class= "genre"><%= link_to f.genre.genre_name ,novels_path(genre_id: f.genre.id) %></button><br>
							<% f.tag_list.each do |tag|  %>
								<button class="tag">
									<%= link_to tag, novels_path(tag_name: tag) %>
								</button>
							<% end %>
							<div class ="open">
								<div class= "novel-about">
								<%= simple_format(f.novel_about) %>
								</div>
							</div>
							作成者：<%= link_to f.user.username, user_path(f.user.id) %><br>
							作成日：<%= f.created_at.strftime('%Y/%m/%d') %>
							<% if f.novel_content.exists? %>
							最終更新日：<%= f.novel_content.last.updated_at.strftime('%Y/%m/%d') %>
							<% else %>
							最終更新日：<%= f.updated_at.strftime('%Y/%m/%d') %>
							<%  end %>
							<div class= "open">
								参加ユーザー:<% f.novel_content.map(&:user).uniq.each do |u| %>
							                  <%= link_to u.username, user_path(u) %>
							                  <% end  %>
							</div>
							<i class="far fa-eye"></i><%= f.impressions_count %><br>
							<i class="fas fa-heart" , style="color: red;"></i><%= all_likes_count(f) %>
							<i class="far fa-comment-dots"></i><%= all_comments_count(f) %>
							<i class="fas fa-eye"></i><%= all_views_count(f) %>
						</div>
					<% end %>
					<%= paginate @search_novels %>
				<% end%>
			</div>
		</div>
	</div>
</div>
