<%= render "common/header" %>
<div class= "body">
	<%= render "common/alert" %>
	<div class= "container-fruid">
		<div class= "row">
			<div class= "col-lg-6 col-lg-offset-3 col-md-6 col-md-3 col-xs-10 col-xs-offset-" >
				<%if @novels %>
					<% @novels.each do |novel| %>
						<%= render partial: "novel" ,locals: {f: novel} %>
					<% end %>
					<%= paginate @novels %>
				<% else %>

					<% @search_novels.each do |novel| %>
						<%= render partial: "novel" ,locals: {f: novel} %>
					<% end %>
					<%= paginate @search_novels %>
				<% end%>
			</div>
		</div>
	</div>
</div>
