<%= render "common/header", genres:  @genres  %>
<div class= "body">
	<div class= "container">
		<div class= "row">
			<div class= "col-lg-6 col-lg-offset-3 col-md-6 col-md-3 col-xs-10 col-xs-offset-2" >
				<%if @search_novels %>
					<% @search_novels.each do |f| %>
						<div class= "novel-box">
							<h3><%= link_to f.novel_title, novel_path(f.id) %></h3>
							<button class= "genre"><%= link_to f.genre.genre_name ,novels_path(genre_id: f.genre.id) %></button><br>
							<% f.tag_list.each do |tag|  %>
								<button class="tag">
									<%= link_to tag, novels_path(tag_name: tag) %>
								</button>
							<% end %>
							<div class= "novel-about">
							<%= simple_format(f.novel_about) %>
							</div>
							作成者：<%= link_to f.user.username, user_path(f.user.id) %>
							作成日：<%= f.created_at.strftime('%Y/%m/%d') %>
							最終更新日：
						</div>
					<% end %>
				<% else %>
					<% @novels.each do |f| %>
						<div class= "novel-box">
							<h3><%= link_to f.novel_title, novel_path(f.id) %></h3>
							<button class= "genre"><%= link_to f.genre.genre_name ,novels_path(genre_id: f.genre.id) %></button><br>
							<% f.tag_list.each do |tag|  %>
								<button class="tag">
									<%= link_to tag, novels_path(tag_name: tag) %>
								</button>
							<% end %>
							<div class= "novel-about">
							<%= simple_format(f.novel_about) %>
							</div>
							作成者：<%= link_to f.user.username, user_path(f.user.id) %>
							作成日：<%= f.created_at.strftime('%Y/%m/%d') %>
							最終更新日：
						</div>
					<% end %>
				<% end%>
			</div>
		</div>
	</div>
</div>