<%= render "common/header" %>
<div class= "body">
  <%= render "common/alert" %>
  <div class ="novel_show_container">
    <div class ="index_container">
      <h2 id="novel-title"><%= @novel.novel_title %></h2>
      <h3><%= link_to @novel.user.username , user_path(@novel.user.id) %></h3>
      <button class= "genre">
        <%= link_to @novel.genre.genre_name ,novels_path(genre_id: @novel.genre.id) %>
      </button><br>
      <% @novel.tag_list.each do |tag|  %>
        <button class="tag">
          <%= link_to tag, novels_path(tag_name: tag) %>
        </button>
      <% end %><br>
      <div class= "join-user">
      参加ユーザー<br><% @novel.novel_content.map(&:user).uniq.each do |u| %>
                  <%= link_to u.username, user_path(u) %>
                  <% end  %>
      </div>
      <div class ="novel-about">
        <%= simple_format(@novel.novel_about) %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.id == @novel.user_id || current_user.admin? %>
        <%= link_to "編集", edit_novel_path(@novel) , class: "btn btn-info"%>
        <% end %>
      <% end %>
    </div>
    <% if @novel_contents.exists? %>
    <table class ="table table-hover  table-responsive">
      <thead>
          <th id="novels_show">タイトル</th>
          <th id="novels_show">投稿者</th>
          <th id="novels_show">投稿日</th>
          <th id="novels_show">更新日</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <% @novel_contents.each do |f| %>
          <tbody>
            <tr>

              <td id= "title"><%= link_to f.novel_content_title, novel_novel_content_path(f.novel_id,f.id) %></td>
              <td ><%= link_to f.user.username, user_path(f.user.id) %></td>
              <td><%= f.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= f.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><i class="far fa-comment-dots"></i><%= f.comments.count %></td>
              <td><i class="fas fa-heart" , style="color: red;"></i><%= f.likes.count %></td>
              <td><i class="fas fa-eye"></i><%= f.impressions_count %></td>
            </tr>
          </tbody>
        <% end %>
    </table>
    <% else %>
    <i>まだ投稿されていません</i><br>
    <% end %>
<span class= "logo"><%= link_to "TUDUKU!!",new_novel_novel_content_path(@novel.id), class: "btn btn-xl btn-success" %></span>
<%= render "common/footer" %>