<%= render "common/header"%>
<div class= "body">
	<div class= "container">
		<div class= "flash">
			<%= flash[:notice] %>
		</div>
		<div class ="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
		<% if @novel_content.errors.any? %>
		<div id="error_explanation">
			<ul>
				<h3><%= @novel_content.errors.count %>件のエラーです</h3>
				<%= @novel_content.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<h2><%= @novel.novel_title %></h2>
		ホストユーザー:<%= link_to @novel.user.username, user_path(@novel.user) %>
		<h1>TUDUKI!!</h1>
		<%= form_for(@novel_content, :url => new_novel_novel_content_path) do |f| %>
			<div class= "field novel-field" >
				<%= f.label :novel_content_title, "タイトル" %>
				<%= f.text_field :novel_content_title, placeholder: "タイトルを入力　~50文字" %>
				<p id="counter-1">0文字</p>
			</div>
			<div>
				<%= f.label :novel_content_text, "説明" %>
				<%= f.text_area :novel_content_text, placeholder: "本文  300~30000文字" %>
				<p id="counter-2">0文字</p>
			</div>
			<h4><%= f.submit "TUDUKU!!" ,class: "btn btn-primary btn-block" ,dalete:{ confirm: "投稿しますか？"}%></h4>
		<% end %>
</div>
</div>
</div>
<%= render "common/footer" %>